<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button />
    </ion-buttons>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->
<ion-split-pane contentId="menu-content" when="xs" [disabled]="true">
  <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Awesome avocado menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        @for (path of paths; track $index) {
        <ion-menu-toggle>
          <ion-item routerLink={{path.url}} routerDirection="none">
            <ion-icon slot="start" [icon]="path.icon"></ion-icon>
            <ion-label>{{path.name}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        }
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
<!-- </ion-content> -->